.searchbar {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;

    label {
        font-weight: 500;
    }

    input {
        border: 1px solid #7c7b7b;
        border-radius: 0.2rem;
        outline: none;
        height: 1.5rem;
        margin-left: 0.5rem;
        padding-left: 0.5rem;
    }

    button {
        font-size: 0.8rem;
        background-color: white;
        padding: 0.2rem 0.5rem;
        border: 1px solid #7c7b7b;
        border-radius: 0.2rem;
        outline: none;
        cursor: pointer;
        &:active {
            border-color: rgb(39, 33, 33);
        }
    }
}
