.products-table {
    border-collapse: collapse;
    width: 50rem;
    text-align: left;
    table-layout: fixed;

    th,
    td {
        border: 1px solid #ccc;
        padding: 8px 12px;
        word-wrap: break-word;
        white-space: normal;
        vertical-align: top;
    }

    thead {
        background-color: #f0f0f0;
    }

    [class$='-userId'] {
        width: 7rem;
    }

    [class$='-id'] {
        width: 5rem;
    }

    button {
        border-radius: 15%;
        margin: 0.5rem;
        width: 3rem;
        padding: 0.25rem;
        border-color: #363636;
    }
}
